
hi


<!--
  
    <div class="container" style="padding: 30px; background: white;">
      <div class="rows">
        <div class="col-md-12" style="padding: 10px; background: #ececec;">
  
          <lable style="display:inline;"> STORE NAME : </lable>
          <input type="text" ng-change="sname" name="sname" id="sname"
            placeholder="  STORE NAME" style="display: inline;" />
          <lable style="display:inline;"> RADIUS : </lable>
          <input type="text" ng-change="radius" id="radius"
            placeholder="  METERS" style="display: inline;" /> <input
            type="button" value="search" onclick="initialize()"
            style="display: inline;">
        </div>
      </div>
  
      <div class="row content">
        <div class="col-sm-4"
          style="display: inline; overflow: scroll; height: 400px;" id="addr">
  
        </div>
        <div class="col-sm-8">
          <div id="map-canvas"></div>
        </div>
  
      </div>
    </div>
  
  
  -->