<!-- DISPLAY PAGE NAVBAR -->
<nav class="navbar navbar-inverse  navbar-fixed-top">
	<div class="container-fluid">
	   <div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>                        
				  </button>

		  <a class="navbar-brand"	href="http://localhost:4200/search"> {{ 'BRAND CART' | translate }} </a>
	   </div>
	   <div class="collapse navbar-collapse" id="myNavbar">
	   <ul class="nav navbar-nav">
		  <li class="active"><a> {{'HOME.'+brandName | translate }}</a></li>
		  <li style=" padding-top:10px;padding-left:180px;"><input [(ngModel)]="brandName"> </li>
	   </ul>
	   <ul class="nav navbar-nav navbar-right">
		  <li onclick="window.open('http://localhost:4200/assets/StoreLocator.html', '_blank', 'location=yes,height=570,width=1020,scrollbars=yes,status=yes');"><a>
			 <span class="glyphicon glyphicon-shopping-cart"> </span> {{'HOME.STORE LOCATOR' | translate }}
			 </a>
		  </li>
		  <li class="dropdown">
			 <a class="dropdown-toggle"
				data-toggle="dropdown"> <span class="glyphicon glyphicon-user">
			 </span>{{username}} <span class="caret"></span></a>
			 <ul class="dropdown-menu">
				<li><a>Settings</a></li>
				<li (click)="logout()"><a>Logout</a></li>
			 </ul>
		  </li>
	   </ul>
	</div>
	</div>
 </nav>
 <br>
 <br>
 <br>
 <!-- SEBM GOOGLE MAPS -->
 <sebm-google-map
 [latitude]="lat"
 [longitude]="lng"
 [zoom]="11"
 >
 <sebm-google-map-info-window [latitude]="lat" [longitude]="lng" (closeClick)="windowClosed()"
 [disableAutoPan]="true" [maxWidth]="120"> 
 <h1>My Content</h1>
 </sebm-google-map-info-window>
 <sebm-google-map-marker   *ngFor="let map of Mapdata |filterpipe:brandName" 
 [latitude]="map.latitude"
 [longitude]="map.longitude">
 <sebm-google-map-info-window>
	<!-- no need to set lat/lng here - gets lat/lng from the marker -->
	<strong>{{ 'ADDRESS' | translate }}:</strong> {{map.laddress |translate }}
 </sebm-google-map-info-window>
 </sebm-google-map-marker>
 </sebm-google-map>
 <div class="container-fluid">
	<div class="row">
	   <div class="col-md-8 col-sm-8 col-lg-8 col-xs-8">
		  <!-- DISPLAY PAGE DATA FROM DB  TO DISPLAY CONTEST LIKE BROWSER SEARCH OP -->
		  <div *ngFor="let map of Mapdata |filterpipe:brandName  | unique : 'blink'">
			 <a href="{{map.blink}}">
				<h4 style="color:blue;">{{map.btitle | translate }}</h4>
				<h6 style="color:blue;"> {{map.blink}} </h6>
			 </a>
			 {{map.descriptions | translate }}
		  </div>
	   </div>
	   <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
		  <br>
		  <!-- DISPLAY PAGE ADDRESS OF LOCATIONS AS TABLE -->
		  <table class="table table-hover">
			 <tbody>
				<tr *ngFor="let map of Mapdata |filterpipe:brandName | unique : 'laddress' " style="border: 0.5px solid grey">
				   <td>
					  <h5><i class="glyphicon glyphicon-shopping-cart"></i> {{map.laddress | translate }}
					  </h5>
				   </td>
				</tr>
			 </tbody>
		  </table>
	   </div>
	</div>
 </div>